.home{
    width: 100%;
    height: 100%;
}

.add-med{
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color: rgb(110, 168, 190);
    position: absolute;
    right: 4%;
    bottom: 4%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.add-icon{
    color: rgb(53, 158, 53);
}